In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [33]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [34]:
# Create Database Connection
# ----------------------------------
# Establish Connection

engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [35]:
# reflect an existing database into a new model
# reflect the tables

# Declare a Base using `automap_base()`
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

# Print all of the classes mapped to the Base
Base.classes.keys()

['measurement', 'station']

In [36]:
# Assign the measurement class & station class to variables called `Measurement` & 'Station'
Measurement = Base.classes.measurement
Station = Base.classes.station

In [23]:
# Create a session to link Python to database
session = Session(engine)

In [47]:
# Save references to Measurement table
measurement_df = pd.read_sql("SELECT * FROM Measurement", conn)

# print data frame 
measurement_df.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0

In [68]:
engine.execute('select * FROM Measurement LIMIT 5' ).fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [78]:
# Save references to Station table
station_df = pd.read_sql("SELECT * FROM Station", conn)

# Print data frame
station_df.head(10)

,id,station,name,latitude,longitude,elevation
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,2,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,4,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,6,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,7,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,8,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,9,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [56]:
engine.execute('SELECT * FROM Station').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [61]:
#use inspector to view classes in Measurement

inspector = inspect(engine)
columns = inspector.get_columns('Measurement')

for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [29]:
#use inspector to view classes in Station

inspector = inspect(engine)
columns = inspector.get_columns('Station')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

# Exploratory Climate Analysis

In [70]:
measurement_count = session.query(Measurement).count()
print(measurement_count)

19550

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results


# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [137]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [134]:
# Design a query to show how many stations are available in this dataset?
station_observations = session.query(Measurement).group_by(Measurement.station).count()
print(station_observations)

9

In [147]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

station_anal_2 = measurement_df.groupby('station')['tobs'].agg([np.min, np.max, np.mean, np.count_nonzero])
sort_station_count = round(station_anal_2.sort_values(['count_nonzero'], ascending=False), 1)
sort_station_count

             amin  amax  mean  count_nonzero
station
USC00519281  54.0  85.0  71.7         2772.0
USC00519397  56.0  87.0  74.6         2724.0
USC00513117  59.0  85.0  72.7         2709.0
USC00519523  56.0  85.0  74.5         2669.0
USC00516128  58.0  84.0  70.9         2612.0
USC00514830  58.0  85.0  74.9         2202.0
USC00511918  53.0  87.0  71.6         1979.0
USC00517948  58.0  87.0  74.7         1372.0
USC00518838  58.0  83.0  72.7          511.0

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [148]:
# # What are the most active stations? (i.e. what stations have the most rows)?
# # List the stations and the counts in descending order.
# # Using the station id from the previous query, calculate the lowest temperature recorded, 
# # highest temperature recorded, and average temperature of the most active station?

# grouped_station_df = measurement_df.groupby(['station'])

# station_low_tobs = round(grouped_station_df["tobs"].min(),1)
# station_high_tobs = round(grouped_station_df["tobs"].max(),1)
# station_avg_tobs = round(grouped_station_df["tobs"].mean(),1)
# station_ct = grouped_station_df["tobs"].count()

# station_anal_df = pd.DataFrame({"Lowest Temperature": station_low_tobs,
#                                "Highest Temperature": station_high_tobs,
#                                 "Average Temperature": station_avg_tobs,
#                                 "Count of Observations": station_ct
#                                })

# station_anal_df

# sorted_station_df = station_anal_df.sort_values(['Count of Observations'], ascending=False)
# sorted_station_df

In [136]:
# # Design a query to show how many stations are available in this dataset?
# station_count = session.query(Station).count()
# print(station_count)

In [135]:
# station_count = session.query(Measurement.station).count()
# print(station_count)

In [131]:
#data frame groupby
# grouped_station = measurement_df.groupby(['station']).count().sort_values(['id'], ascending=False)
# grouped_station.head(10)

# grouped_station_df = measurement_df.groupby(['station'])

# g_s_df = grouped_station_df['station'].value_counts()
# g_s_df

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`